String Concatenation

In [9]:
print('hello' + ' Steve')
print('hello ' + str(10))   # We have to turn 10 to a string (str(10)) because we cannot concatenate an integer with a string

hello Steve
hello 10

Escape Sequences

In [10]:
# By using a '\' we say to Python, everything after the '\' treat it like it is a string
# By using '\t' we say, whatever comes after the '\' I want you to add a tab (space)
# By using '\n' we say, whatever comes after the '\' I want you to add a new line

weather = "\t It\'s \"kind of\" sunny \n Hope you have a good day!"  
print(weather)

	 It's "kind of" sunny
 Hope you have a good day!

Formatted Strings

In [15]:
# Python 3 Formatted Strings

# The 'f' at the beginning of the string will say to Python that this is a formatted string

name = 'Steve'
age = 27
print('Hi' + ' ' + name + '. You are' + ' ' + str(age) + ' years old.')
print(f'Hi {name}. You are {age} years old.')

Hi Steve. You are 27 years old.
Hi Steve. You are 27 years old.

In [21]:
# Python 2 Formatted Strings
print('Hi {}. Your are {} years old.'.format(name, age)) # With order
print('Hi {1}. You are {0} years old.'.format(age, name)) # Use a specific order
print('Hi {new_name}. You are {age} years old.'.format(new_name='Mark', age=50))

Hi Steve. Your are 27 years old.
Hi Steve. You are 27 years old.
Hi Mark. You are 50 years old.

String Indexes

In [34]:
message = 'How are u?'
#          0123456789
print(message[0])
print(message[0:3])
print(message[-1]) # Using '-' means in Python that you start from the end (reverse)
print(message[-4])
print(message[:]) # Prints everything

# String slicing: message[start:stop:stepover]

H
How
?
e
How are u?

String Immutability

In [33]:
# Define a string
numbers = '012345678'

# If I try to change a part of the string
numbers[0] = '9' 

# I will get a TypeError: 'str' object does not support item assignment, because strings are immutable. 
# I cannot change the value of a part of it once it's created.
# I can only change the whole string by creating something new like: numbers = '9'

TypeError: 'str' object does not support item assignment

Built-in Functions and Methods

In [37]:
print(len('Helllooooo'))
quote = 'to be or not to be'
print(quote.upper()) # Capitalizes the whole string. Can use '.lower' in a similar way
print(quote.capitalize()) # Capitalizes the first value
print(quote.find('be')) # Finds the position of the first occurence of the text we are looking for
print(quote.replace('be', 'me'))

10
TO BE OR NOT TO BE
To be or not to be
3
to me or not to me

Booleans: Parameters that can have as values TRUE or FALSE only. In programming is like we have 0s and 1s.

Type Conversion

In [1]:
birth_year = input('What year were you born?')

age = 2025 - birth_year

print('Your age is: {age}')

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [ ]:
birth_year = input('What year were you born?')

age = 2025 - int(birth_year) # We cannot subtract a string from an integer. So we need to transform the string into an integer.
# We can use a float as well

print(f'Your age is: {age}')

Your age is: 28

List (An ordered sequence of objects)

In [ ]:
l1 = [] # An empty list
l2 = [1, 2, 3]
l3 = ['a', 'b', 'c']
l4 = [1, 2, 'a', True]